# This file is used to prefetch the requirements to speed up docker builds.
numpy
scipy
matplotlib
moviepy
opencv-python
tqdm
torch
torchvision
Cython
pylint
autopep8
sklearn
pandas


# Download compressed repositories to speedup installation.
# Use tar.gz as .zip can fail with unicode filenames.
https://github.com/aleju/imgaug/archive/master.tar.gz